<div class="responsive-block">
    <a href="http://www.petworldkauppa.fi">
        <img width="250" src="/content/images/2014/11/logo.png" alt="small" style="background-color: saddlebrown;padding: 1em;"/>
    </a>
</div>

<div class="responsive-block">
    <a href="http://www.petworldkauppa.fi">
        <span class="centeredLink" style="margin-top: 1em; position: relative;font-size: 120%;font-family: Arvo;">Hamstermafia syyrianhamsterit virallisesti suosittelee Pet Worldia</span>
    </a>
</div>
