<footer class="footer" role="contentinfo">
	<div class="social-links-line"></div>
	<section class="social-links">
        <div class="social-links-inner">
        	{{> social-links}}
        </div>               
        <div style="font-size:10pt; color: #AAAAAA; padding-top: 30px">
            Hamsterien värit ovat suuntaa-antavia eivätkä välttämättä vastaa standardoituja värejä. En kuulu virallisiin kasvattajiin, kasvatan syyrianhamstereita harrastusmielessä kotonani rakastaviin lemmikkikoteihin.
        </div>
    </section>
</footer>
